.bar{
    height: 4rem;
    background-color: #F76A1C;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.name_icon{
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}